/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/11/2015, 01:35:11 PM
    Author     : Javier
*/
.text-field{
    -fx-background-color: transparent;
    -fx-background-radius: 2.0;
    -fx-padding: 0.5em 0.5em 0.5em 0.1em;
    -fx-border-color: rgb(200.0, 200.0, 200.0);
    -fx-border-width: 0 0 2 0;
    -fx-prompt-text-fill: derive(gray, 50.0%);
    -fx-highlight-fiadmill: rgb(94.0, 203.0, 234.0);
}
/*.text-field:focused{
    -fx-border-color: #69F0AE;
}*/
#btnS{
    -fx-background-color:  #69F0AE;
}
#btnS:hover{
    -fx-background-color: #69F0AE;
}
#fondoB{
    -fx-fill: #69F0AE;
    -fx-opacity: 0.65;
}
#barB,#btnBar{
  -fx-fill: #2AB7CA; 
  -fx-background-color:#2AB7CA;
}
#btnBar:hover{
    -fx-background-color: #58CC35;    
}



